<nav class="navbar navbar-expand-lg navbar-dark modern-nav">
    <div class="container">
        <a class="navbar-brand brand-accent" href="/">Tournament Tracker</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 nav-games">
                <li class="nav-item">
                    <a class="nav-link game-link <%= !selectedGame ? 'active' : '' %>" href="/">All Games</a>
                </li>
                <% games.forEach(game => { %>
                    <li class="nav-item">
                        <a class="nav-link game-link <%= selectedGame === game.name ? 'active' : '' %>"
                           href="/?game=<%= game.name %>"><%= game.name.charAt(0).toUpperCase() + game.name.slice(1) %></a>
                    </li>
                <% }) %>
            </ul>
        </div>
    </div>
</nav>
